@import 'src/variables.scss';

.header {
  width: 100%;
  height: get-vh(90px);

  & > .header-main-container{
    display: flex;
    padding-top: get-vh(25px);
    // align-items: center;
    justify-content: space-between;
    // height: 100%;
    margin-left: get-vh(33px);
    margin-right: get-vh(33px);

    & > .left {
      & > .left-company-name{
        & > svg{
          width: get-vh(40px);
          height: get-vh(40px);
          margin-right: get-vh(15px);
        }
        & > span{
          color: #444444;
          font-family: Josefin Sans;
          font-size: get-vh(48px);
          font-weight: 700;
        }
      }
    }
  
    & > .right {
      display: inherit;
      align-items: inherit;
      column-gap: get-vh(50px);

      & > a{
        margin-top: auto;
        margin-bottom: auto;
        position: relative;
        color: #222;
        font-family: Montserrat;
        font-size: get-vh(16px);
        font-weight: 500;
        letter-spacing: get-vh(0.8px);
        &::before{
          content: '';
          position: absolute;
          bottom: get-vh(-12px);
          height: get-vh(2px);
          width: 100%;
          background-color: $green-big;
          margin-top: get-vh(12px);
          display: none;
        }
        &.active-page::before{
          display: block;
        }
      }

      & > button{
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        width: get-vh(180px);
        height: get-vh(45px);
        background-color: $green-medium;
        color: $white;
        border-radius: get-vh(80px);

        & > span{
          font-family: Montserrat;
          font-size: get-vh(18px);
          font-weight: 600;
        }
      }

    }
  }
}
