@import "src/variables.scss";

.cabinet-container {
  display: flex;
  width: 100%;
  height: 100%;

  .left-side {
    position: relative;
    overflow: hidden;
    width: get-vh(280px);
    height: 100%;
    box-shadow: get-vh(2px) 0px get-vh(10px) 0px rgba(0, 0, 0, 0.05);

    & > .company-name {
      cursor: pointer;
      color: $black-44;
      font-family: Josefin Sans;
      font-size: get-vh(48px);
      padding-top: get-vh(40px);
      text-align: center;
    }
    & > .role-name {
      color: $black-44;
      font-size: get-vh(24px);
      text-align: center;
    }

    & > .container-buttons {
      margin-top: get-vh(124px);

      & > .btn-page-container {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: get-vh(60px);
        & > .btn-page {
          position: relative;
          display: flex;
          align-items: center;
          width: get-vh(250px);
          height: get-vh(50px);
          border-radius: get-vh(15px);
          & > img {
            margin-left: get-vh(30px);
            width: get-vh(24px);
            height: get-vh(24px);
          }
          & > span {
            margin-left: get-vh(20px);
            color: $black-22;
            font-size: get-vh(20px);
            font-weight: 400;
          }
        }
        .active {
          background-color: rgba(102, 188, 143, 0.15);
        }
        .notify::after {
          content: "•";
          color: #f8a84c;
          font-size: get-vh(20px);
          position: absolute;
          right: get-vh(10px);
          margin-top: auto;
        }
      }
    }

    & > .footer-container{
      display: flex;
      align-items: center;
      position: absolute;
      bottom: get-vh(25px);
      left: get-vh(45px);
      min-width: get-vh(205px);
      justify-content: space-between;

      & > .name-account {
        color: $gray-high;
        font-size: get-vh(24px);
      }
      & > .logout{
        margin-left: get-vh(50px);
        cursor: pointer;
        height: get-vh(30px);
        
        & > img{
          width: get-vh(30px);
          height: inherit;
        }
      }
    }
    
  }

  .right-side {
    position: relative;
    z-index: 0;
    flex: 1;
    background-color: #fbfbfb;
  }
}

.page-container {
  margin-top: get-vh(60px);
  margin-left: get-vh(50px);
}
