@import "src/variables.scss";

.home-page-special-text {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: get-vh(120px);
  margin-bottom: get-vh(60px);
  color: $gray-medium-low;
  font-size: get-vh(50px);
  font-weight: 700;
}

.home-part-conainer {
  display: flex;
  padding-left: get-vh(200px);
  padding-right: get-vh(200px);
}

.button-up-container{
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: get-vh(75px);
  top: get-vh(1780px);

  & > .button-up-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: get-vh(75px);
    height: get-vh(75px);
    border-radius: 100%;
    background-color: $green-low;
    right: get-vh(39px);
    &::before{
      content: '';
      position: absolute;

    }
    & > svg{
      width: get-vh(24px);
      height: get-vh(17px);
    }
  }
  & > .fixed{
    position: fixed;
    right: get-vh(39px);
    bottom: get-vh(35px);
  }
}



// .emergency-services-container {
//   display: flex;
//   justify-content: center;
//   column-gap: get-vh(150px);
//   margin-left: get-vh(345px);
//   margin-right: get-vh(345px);
//   margin-bottom: get-vh(130px);

//   & > .emergency-services-item {
//     width: get-vh(240px);

//     & > .emergency-services-text {
//       color: $gray-high;
//       font-size: get-vh(16px);
//       font-weight: 400;
//     }

//     & > .emergency-services-links {
//       margin-top: get-vh(25px);
//       line-height: get-vh(35px);
//       color: #408cff;
//       font-size: get-vh(20px);
//       font-weight: 400;
//       text-decoration-line: underline;

//       & > a {
//         color: #408cff;
//       }
//     }
//   }
// }
