@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Lato:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@400;500;600;700&display=swap');
@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
}
  
@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
}
  
@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato-Italic.ttf') format('truetype');
  font-style: italic;
}
  

@import './reset.scss';
@import './variables.scss';
  
// .dark-theme{
//     background-color: black;
//     color: white;
// }

// .light-theme{
//     background-color: #FFC96C;
//     color: black;
// }


html, body { height: 100%; }
body { margin: 0; font-family: Lato; color: $black-22; }

::-webkit-scrollbar {
  display: none;
}

.custom-select{
  min-width: get-vh(160px);
  border: get-vh(1px) solid $gray-medium;
  border-radius: get-vh(10px);
  padding-left: get-vh(15px);
  padding-top: get-vh(8px);
  padding-bottom: get-vh(8px);
  font-size: get-vh(16px);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('assets/img/arrow-for-select.svg') no-repeat right center;
  background-size: get-vh(30px) get-vh(7px);

  &:hover{
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  & > option:active{
    background-color: red;
  }
}