@import 'src/variables.scss';

@keyframes blockOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.forget-pass-background{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(34, 34, 34, 0.50);
  z-index: 1;
}
.background-img{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/img/authentication/background.png");
  background-size: 100% 100%;
  z-index: -1;
}

.auth{
  position: relative;
  width: 100%;
  height: 100%;

  & > .company-name{
    position: absolute;
    width: get-vh(250px);
    left: get-vh(40px);
    top: get-vh(30px);
    & > svg{
      width: get-vh(40px);
      height: get-vh(40px);
    }
    & > span{
      margin-left: get-vh(15px);
      color: $black-44;
      font-family: Josefin Sans;
      font-size: get-vh(48px);
      font-weight: 700;
    }
  }

  .quote{
    width: 100%;
    text-align: center;
    padding-top: get-vh(42px);
    color: $gray-high;
    font-size: get-vh(20px);
  }

  & > .block{
    position: relative;
    animation: blockOpacity 0.3s ease;
    margin: auto;
    margin-top: get-vh(74px);
    width: get-vh(560px);
    height: get-vh(750px);
    background-color: $white;
    border-radius: get-vh(10px);
    box-shadow: get-vh(0px) get-vh(0px) get-vh(10px) rgba(0, 0, 0, 0.15);

    & > .block-container{
      width: get-vh(460px);
      margin-left: get-vh(50px);
      padding-top: get-vh(30px);

      & > .block-title{
        & > .block-title-name{
          position: relative;
          color: var(--green-medium, #66BC8F);
          font-size: get-vh(40px);
          font-weight: 700;
          padding-bottom: get-vh(10px);

          &::after{
            position: absolute;
            content: '';
            width: 100%;
            height: get-vh(1px);
            background-color: #EDEDED;
            right: 0;
            bottom: 0;
          }
        }

        & > .block-title-text{
          margin-top: get-vh(6px);
          color: $gray-high;
          font-size: get-vh(15px);
          font-weight: 400;
        }
      }


      & > .block-inputs-container{
        display: flex;
        flex-direction: column;
        row-gap: get-vh(25px);
        height: 100%;
        width: get-vh(450px);
        margin-top: get-vh(35px);

        & > div{
          position: relative;

          & > input{
            width: 100%;
            height: get-vh(50px);
            border: get-vh(1px) solid $gray-medium;
            border-radius: get-vh(5px);
            padding-left: get-vh(20px);
            font-size: get-vh(16px);
  
            & ~ label{
              cursor: auto;
              position: absolute;
              top: get-vh(-9px);
              left: get-vh(15px);
              color: $gray-high;
              font-size: get-vh(14px);
              font-weight: 400;
              background-color: $white;
            }

            &.incorrect-input{
              color: $red-medium;
              border-color: $red-medium;
              & ~ label{
                color: $red-medium;
              }
            }
            &.correct-input{
              color: $green-big;
              border-color: $green-big;
              & ~ label{
                color: $green-big;
              }
            }
          }

          & > div{
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: get-vh(20px);
            display: flex;
            align-items: center;
            margin-right: get-vh(14px);
            & > img{
              height: get-vh(20px);
              width: get-vh(20px);
              opacity: 0.7;
            }
          }

        }
      }

      .text-policy{
        margin-top: get-vh(9px);
        color: $black-44;
        font-family: Lato;
        font-size: get-vh(12px);
        font-weight: 400;
        letter-spacing: get-vh(0.72px);
        & > span{
          cursor: pointer;
          text-decoration: underline;
          color: $green-big;
        }
      }
      .auth-pass-err{
        display: flex;
        justify-content: space-between;
        margin-top: get-vh(9px);
        & > div:first-child{
          width: get-vh(246px);
          color: $red-high;
          font-size: get-vh(14px);
          font-weight: 400;
        }
        & > div:last-child{
          cursor: pointer;
          width: get-vh(101px);
          color: $black-22;
          font-size: get-vh(14px);
          font-weight: 400;
          text-decoration-line: underline;
        }
      }


      & > .block-buttons{
        margin-top: get-vh(48px);
        display: flex;
        flex-direction: column;

        & > button:first-child{
          position: relative;
          background-color: $green-medium;
          height: get-vh(50px);
          width: 100%;
          display: flex;
          justify-content: center;
          border-radius: get-vh(5px);

          & > div{
            display: flex;
            height: 100%;
            align-items: center;
            
            &:first-child{
              color: $white;
              font-size: get-vh(20px);
              font-weight: 700;
            }
            &:last-child{
              margin-right: get-vh(14px);
              position: absolute;
              right: 0;
              top: 0;
              & > svg{
                width: get-vh(30px);
                height: get-vh(15px);
              }
            }
          }

        }

        & > button:last-child{
          margin-top: get-vh(10px);
          color: $black-22;
          font-size: get-vh(16px);
          font-weight: 400;
          text-decoration-line: underline;
        }

      }
    }
    
    .footer{
      position: absolute;
      bottom: 0;
      width: 100%;
      height: get-vh(100px);

      & > .footer-buttons{
        width: get-vh(160px);
        height: get-vh(73px);
        margin: auto;
        text-align: center;

        & > .btns-title{
          color: $black-22;
          font-size: get-vh(16px);
          font-weight: 400;
        }
        & > .btns{
          margin-top: get-vh(14px);
          display: flex;
          justify-content: space-between;
          & > a > img {
            opacity: 0.7;
            width: get-vh(40px);
            height: get-vh(40px);
          }
        }
      }
      
      & > .footer-link-back{
        cursor: pointer;
        position: absolute;
        left: get-vh(32px);
        bottom: get-vh(30px);
        color: $black-44;
        font-size: get-vh(18px);
        font-weight: 400;
        & > svg{
          width: get-vh(9px);
          height: get-vh(15px);
        }
      }
    }
  }
}
