@import "src/variables.scss";

.footer-container {
  background-color: $black-22;
  width: 100%;
  height: get-vh(185px);
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  column-gap: get-vh(117px);

  & > .footer-column {
    width: get-vh(250px);
    height: get-vh(80px);
    margin-top: get-vh(30px);

    &:first-child {
      margin-top: get-vh(50px);
      width: get-vh(300px);
      height: get-vh(100px);
      & > svg {
        width: 100%;
        height: 100%;
      }
    }
    & > .footer-column-item {
      text-align: start;

      & > ul > .footer-column-item-title {
        margin-bottom: get-vh(17px);
        font-size: get-vh(20px);
        font-weight: 700;
        color: $gray-high;
        letter-spacing: normal;
      }
      & > ul > li {
        margin-bottom: get-vh(13px);

        & {
          color: $white;
          font-family: Montserrat;
          font-size: get-vh(16px);
          font-weight: 600;
          letter-spacing: get-vh(1.68px);
        }
        & > a {
          font-size: get-vh(15px);
          font-weight: 500;
          color: $white;
          letter-spacing: normal;
        }
      }

      & > .footer-column-item-social {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        & > div {
          width: get-vh(40px);
          height: get-vh(40px);
          align-items: center;
        }
      }
    }
  }
}

.footer-who-create {
  display: flex;
  background-color: $black-11;
  width: 100%;
  height: get-vh(35px);
  align-items: center;
  justify-content: space-between;
  padding-left: get-vh(250px);
  padding-right: get-vh(176px);
  color: $gray-medium;
  font-family: Montserrat;
  font-size: get-vh(15px);
  font-weight: 500;

  & > .footer-who-create-item > a {
    text-decoration: underline;
    color: $gray-medium;
  }
}
