@import "src/variables.scss";

.frt-home-part {
  display: flex;
  background-color: $green-light;
  justify-content: center;
  width: 100%;
  padding-top: get-vh(60px);
  margin-bottom: get-vh(110px);

  &::after{
    content: '';
    position: absolute;
    bottom: get-vh(145px);
    width: 100%;
    height: get-vh(55px);
    background-color: inherit;
    border-radius: 0 0 50% 50% / 0 0 50% 50%;
  }

  & > .frt-home-page-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: get-vh(144px);
    align-items: center;

    & > .frt-home-page-container-left {
      width: get-vh(626px);
      display: flex;
      flex-direction: column;

      & > .frt-home-page-container-left-title {
        color: $black-44;
        font-size: get-vh(83px);
        font-weight: 600;
        margin-bottom: get-vh(45px);
      }
      & > .frt-home-page-container-left-body {
        color: $black-44;
        font-size: get-vh(20px);
        font-weight: 400;
        margin-left: get-vh(15px);

        & > p {
          margin-bottom: get-vh(25px);
        }
      }

      & > .frt-home-page-container-left-footer {
        display: flex;
        column-gap: get-vh(45px);
        margin-top: get-vh(40px);

        & > button {
          border-radius: get-vh(50px);
          transition: all 0.3s ease;
        }
        & > button:nth-child(1) {
          width: get-vh(300px);
          height: get-vh(60px);
          background-color: $green-big;
          color: $white;
          font-size: get-vh(22px);
          font-weight: 400;
          &:hover{
            color: $black-44;
            background-color: inherit;
            border: get-vh(1px) solid $green-big;
          }
        }
        & > button:nth-child(2) {
          width: get-vh(280px);
          height: get-vh(60px);
          border: get-vh(1px) solid $gray-medium;
          color: $black-44;
          font-size: get-vh(22px);
          font-weight: 400;
          &:hover{
            color: $white;
            background-color: $green-big;
            border: get-vh(1px) solid $green-big;
          }
        }
      }
    }
      
      
    & > img{
      width: 70.72905331882481vh;
      height: 62.02393906420022vh;
    }

  }
}
