@import 'src/variables.scss';

.scnd-home-part{
    margin-top: get-vh(60px);
    width: 100%;
    & > .scnd-home-part-images{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        row-gap: get-vh(25px);
        width: get-vh(1500px);
        margin-left: auto;
        margin-right: auto;

        .scnd-home-part-images-item{
            margin: auto;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            text-align: center;
            width: get-vh(440px);
            height: get-vh(440px);
            align-items: center;
            row-gap: get-vh(10px);
            border-radius: get-vh(15px);
            
            &:hover{
                box-shadow: get-vh(0px) get-vh(1px) get-vh(5px) get-vh(0px) rgba(0, 0, 0, 0.20);
            }
            transition: box-shadow 0.25s ease;

            & > .scnd-home-part-images-item-imgs{
                position: relative;
                width: 100%;
                height: get-vh(301px);
                text-align: center;
                color: $black-22;

                & > img{
                    position: absolute;
                    left: 0;
                    width: get-vh(450px);
                    height: get-vh(301px);
                }
                .notHovered{
                    opacity: 0;
                    transition: opacity 0.25s ease;
                }
                .hovered{
                    opacity: 1;
                    transition: opacity 0.25s ease;
                }
            }

            & > .scnd-home-part-images-item-title{
                font-size: get-vh(24px);
                font-weight: 600;
            }
            & > .scnd-home-part-images-item-body{
                font-size: get-vh(16px);
                font-weight: 400;
            }
            
        }
    }

}